*{
  padding: 0;
  margin: 0;
}

:root{
  --main-bg-color: #090225;
  --text-color-01: #e7e3e3;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
  color: var(--text-color-01);
  width: 100%;
  height: 5rem;
}

main{
  width: 100%;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

form{
  width: 50%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & div{
    display: flex;
    flex-direction: column;
    width: 450px;
  }

  input{
    padding: 10px;
    margin-block: 10px;
  }

  button{
    padding: 10px;
    width: 450px;
    cursor: pointer;
    margin-block: 10px;
  }
}